<div class="grid" style="margin: 1em 0 .5em 0;">
	<div class="row">
		<div class="col col-6">
			<ul class="breadcrumb" style="margin: .4em 0;">
				<li><a href="#/">Blog post list</a></li>
				<li><a href="#/blog/edit/<%=data.id%>/">Edit blog post</a></li>
			</ul>
		</div>
		<div class="col col-6 right" style="">
			
		</div>
	</div>
</div>

<form name="edit_post" onsubmit="return false;" method="post">
	<input type="hidden" name="id" value="<%=data.id%>">
	<div class="grid space" style="margin: 1em 0 .5em 0;">
		<div class="row">
			<div class="col col-8">
				<div class="form-group space">
					<label>Heading</label>
					<input type="text" name="title" value="<%=data.title%>">
				</div>
				<div class="form-group space">
					<label>Summary</label>
					<textarea name="summary" style="height:8em;"><%=data.summary%></textarea>
				</div>
				<div class="form-group space">
					<label>Main picture</label>
					<input type="text" name="img" value="<%=data.img%>" style="width:calc(100% - 75px);"> 
					<button class="btn btn-select" style="float: right;" data-action="select-main-image">Select</button>
				</div>
			</div>
			<div class="col col-4">
				<div class="form-group space">
					<label>Meta title</label>
					<input type="text" name="meta_title" value="<%=data.meta_title%>">
				</div>
				<div class="form-group space">
					<label>Meta description</label>
					<textarea name="meta_description" style="height:177px;"><%=data.meta_description%></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12">
				<div class="form-group space">
					<label>Content</label>
					<textarea name="content" class="tinymce"><%=data.content%></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-8">
				<div class="form-group space">
					<label>URL Path</label>
					<input type="text" name="url_path" value="<%=data.url_path%>">
					<small>&#9888; Changing the URL path will break search engine link if indexed. Change with caution.</small>
				</div>
			</div>
			<div class="col col-1">&nbsp;</div>
			<div class="col col-3">
				<h3 style="font-weight: 100;margin-bottom: .8em;">Options:</h3>
				<div class="form-group space">
					<label><span style="display: inline-block;width: 25px;"><input name="published" value="1" type="checkbox"<%=data.published==1?' checked':''%>></span>Publish blog post</label>
				</div>
				<div class="form-group space">
					<label><span style="display: inline-block;width: 25px;">&#x1F517;</span><a onclick="a.blog.gotoPost(<%=data.id%>);">Go to blog post</a></label>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="vspace"></div>

<div class="grid space" style="margin: 1em 0 .5em 0;">
	<div class="row">
		<div class="col col-6">
			<button class="btn btn-outlined-red">Delete</button>
		</div>
		<div class="col col-6 right">
			<button class="btn btn-primary" data-action="save">Save changes</button>
		</div>
	</div>
</div>

<div class="grid" style="margin: 2em 0;background-color: #6c757d;padding:.5em;color:#fff;border-radius: 5px;">
	<div class="row">
		<div class="col col-4" style="text-align: center;font-size: .9em;">
			Created: <%=moment(data.time_created).format('Y-MM-DD H:mm')%>
		</div>
		<div class="col col-4" style="text-align: center;font-size: .9em;">
			Updated: <%=moment(data.time_updated).format('Y-MM-DD H:mm')%>
		</div>
		<div class="col col-4" style="text-align: center;font-size: .9em;">
			Published: <%=moment(data.time_published).format('Y-MM-DD H:mm')%>
		</div>
	</div>
</div>


