<div class="grid" style="margin: 2em 0 2em 0;">
	<div class="row">
		<div class="col col-6">
			<ul class="breadcrumb" style="margin: .4em 0;">
				<li><a href="#/blog/list/">Blog post list</a></li>
			</ul>
		</div>
		<div class="col col-6 right" style="">
			<button class="btn btn-primary" data-action="create">Create blog post</button>
		</div>
	</div>
</div>
			

<% if (list && list.length>0) { %>
<table class="table bordered rounded">
	<thead>
		<tr>
			<th>Title</th>
			<th class="right">Created</th>
			<th class="right">Updated</th>
			<th class="center">Published</th>
		</tr>
	</thead>
	<tbody>
		<% list.forEach(function(e){ %>
		<tr>
			<td><a href="#/blog/edit/<%=e.id%>/"><%=e.title%></a></td>
			<td class="sm right"><%=moment(e.time_created).format('ddd MMM Do, HH:mm')%></td>
			<td class="sm right"><%=moment(e.time_updated).format('ddd MMM Do, HH:mm')%></td>
			<td class="center" style="color:<%=e.published==1?'green':'red'%>;">&#11044;</td>
		</tr>
		<% }); %>
	</tbody>
</table>
<% } else { %>

<div class="emptymsg">
	You have no blog posts yet
</div>

<% } %>