<% if (list && list.length>0) { %>
<table class="table bordered rounded">
	<tbody>
		<% list.forEach(function(e){ %>
		<tr>
			<td class="center" style="width:20px;"><span style="position:relative;top:-2px;color:<%=e.published==1?'#00bf00':'#ff0076'%>;">&#11044;</span></td>
			<td><%=e.title%></td>
			<td class="right"><button class="btn btn-primary" data-action="select" data-path="<%=e.url_path%>" data-id="<%=e.id%>" data-title="<%=e.title%>">Select</button></td>
		</tr>
		<% }); %>
	</tbody>
</table>
<% } else { %>

<div class="emptymsg">
	No blog posts found
</div>

<% } %>